.container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.title {
    position: sticky;
    top: 0px;
    border-color: red;
    width: 100%;
    margin-left: 50px;
    z-index: 100;

}